/* Craz'event style 
* Sarra Berich, Auriana Hug, Dominique Jollien, Stéphane Maillard
*/
a {
	color: #0072c2;
}

a:hover {
	color: #0072c2;
}

a.event-link {
	color: #ff1f45!important;
	line-height: 1.8em;
	font-size: 16px;
}

h1 {
	color: #ff1f45;
}

h2 {
	font-size: 26px;
	color: #888;
	margin-top: 6px;
}

.clearer {
	clear: both;
}

.centred {
	margin-left: auto!important;
	margin-right: auto!important;
	float: none;
}

.text-centred {
	text-align: center;
}

body {
	background-color: #0072c2;
}

.white-bloc {
	background-color: #fff;
	padding: 20px;
	border-radius: 12px;
}

.white-font {
	color: #fff;
}

.col-2-blocs {
	margin-bottom: 4%;
	margin-left: 4%;
	margin-right: 4%
}

.small-marg {
	margin-bottom: 20px;
}

.no-marg {
	margin: 0 0 0 0!important;
}

.marg-top {
	margin-top: 50px;
}

.page-header {
	margin-top: 80px!important;
}

.navbar-fixed-top {
	position: static!important;
}

#navbar-bloc {
	background-image: url(http://crazevent.com/assets/img/round_border.png)!important;
	background-position: bottom;
	background-repeat: repeat-x;
	margin-bottom: 50px!important;
}

.navbar {
	min-height: 85px!important;
	background-color: #fff!important;
	background-image: none!important;
	border: none!important;

}

.navbar li a {
	text-shadow: none!important;
}

.navbar li a:hover {
	color: #ff1f45!important;
}

form {
	margin-bottom: 0!important;
}

.multi-input {
	margin-top: 10px;
}

.btn-default {
	background-image: none!important;
	background-color: #0072c2!important;
	text-shadow: none!important;
	color: #fff;
	border: none!important;
	border-radius: 0px!important;
}

.btn-default:hover, .btn-default:focus {
	/* For Safari 3.1 to 6.0 */
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function: linear;
	/* Standard syntax */
	transition-property: background;
	transition-duration: 0.4s;
	transition-timing-function: linear;
	background-color: #168fe3!important;
	color: #fff;
}

.btn-danger {
	background-image: none!important;
	background-color: #ff1f45;
	text-shadow: none!important;
	color: #fff;
	border: none!important;
	border-radius: 0px!important;
}

.form-control {
	border-radius: 0px!important;
}

.bloc-info {
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

#txtHint {
	width: 80%;
	margin-top: 40px;
}

.list_contact {
	display: inline-block;
	float: right;
}

ul.result_search {
	padding: 0;
}

ul.result_search li {
	padding: 7px 0;
	list-style: none;	
	border-bottom: 1px solid #ccc;
}

ul.result_search li:first-child {
	border-top: 1px solid #ccc;
}

.form-login {
	margin-left : 0px!important;
	margin-right: 0px!important;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
	background: url(../img/birthday.jpg) no-repeat center center;
	background-size: cover;
}

.intro-header label {
	text-align:left;
	color: #000;
}

.intro-message > h1 {
	color: #fff;
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	font-size: 4em;
}

.content-section-a {
	padding: 50px 0;
	background-color: #f8f8f8;
}

.content-section-b {
	padding: 50px 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.content-section-b p {
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.content-section-b {
	padding: 50px 0;
	min-height: 380px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	background: url(../img/bike.jpg) no-repeat center center;
	background-size: cover;
}

footer.sticky-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	position: absolute;
}

footer {
	height: 90px;
	margin-top: 50px;
	padding: 20px 0;
	background-color: #fff;
}


p.copyright {
	margin: 15px 0 0;
}

.notification-notRead {
    	background-color: green;
}